<html>
    <%- include('./partials/head.ejs') %>
    
<body>
    <%- include('./partials/nav.ejs') %>
<div class="container">
  <div class="main-body">
    <form method="POST" enctype=" multipart/form-data">
        <%- include('./partials/ErrorMsg') %>
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <div class="mt-3">
                    <h2 style="text-transform: capitalize;"><%= row.username %>'s Profile</h2>
                    <img id="pic0" class="dp" src="<%= row.img0 %>">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="inputs2" value="<%= row.email %>" type="text" id="email" name="email" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="inputs2" value="<%= row.username %>" type="text" id="username" name="username" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Last Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="inputs2" value="<%= row.lastname %>" type="text" id="lastname" name="lastname" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">First Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="inputs2" value="<%= row.firstname%>" type="firstname" id="firstname" name="firstname" required>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Age</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input class="inputs2" value="<%= row.age %>" type="number" id="age" name="age"  min="18" max="75">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Gender</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="inputs2" id="gender" name="gender">
                    <option value="<%= row.gender %>">Select a gender (<%= row.gender %>)</option>
                    <option value="Man">Man</option>
                    <option value="Woman">Woman</option>
                </select>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Sexual Preference</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <select class="inputs2" id="preference" name="preference">
                    <option value="<%= row.preference %>">Select a sexuality (<%= row.preference %>)</option>
                    <option value="Bisexual">Bisexual</option>
                    <option value="Heterosexual">Heterosexual</option>
                    <option value="Homosexual">Homosexual</option>
                  </select>
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Bio</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <textarea class="inputs2" id="bio" name="bio"><%= row.bio %></textarea>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Fame Rating </h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <text><%= row.rating %></text>
              </div>
            </div>
            </div>
              <hr>
              <div class="row">
              <div id = "up">
                <input type="submit" name="update"  class="submit2" value="Update Changes" id="update">
              </div>
              </div>
              <hr>

            </div>
                <hr>
                <div id = "up"  class="form-group" >
                  <label for=""> Get Position By Map</label>
                  <div id="map"></div>
                  <i class="fas fa-map" id="map2" onclick="getLocation2()"></i>
                </div>
                <div id = "up" class="form-group">
                  <label for="position">Get Position By GPS
                      <i class="fas fa-map-marker-alt" id="position" onclick="getLocation()"></i>
                  </label>
                  <div id = "up" class="form-group" hidden>
                      <label for="lattitude">latitude</label>
                      <input type="name" name='latitude' class="form-control" id="latitude"
                          value="<%= typeof row.latitude != 'undefined' ? row.latitude : '' %>" />
                  </div>
                  <div id = "up" class="form-group" hidden>
                      <label for="longitude">longitude</label>
                      <input type="name" name='longitude' class="form-control" id="longitude"
                          value="<%= typeof row.longitude != 'undefined' ? row.longitude : '' %>" />
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mb-3">
            <div class="card h-60">
              <div class="card-body">
                <small>Intrests</small>
                <div style="height: 20px">
                  <input type="text" name="tag" class="tags1" id="tag">
                  <input type="submit" name="add_tag" class="tags1" id="add_tag" value="+">
                  <input type="submit" name="remove_tag" class="tags1" id="remove_tag" value="-">
                  <input type="submit" name="reset_tag" class="tags1" id="reset_tag" value="x">
                </div>
                <hr>
                <div>
                  <h6 id="tags" class="tags2">Tags : <%= tags %></h6>
                </div>
                <hr>
                <div>
                  <div class="row">
                      <div class="images">
                          <img id="pic1" class="imgs" src="<%= row.img1 %>">
                          <img id="pic2" class="imgs" src="<%= row.img2 %>">
                          <img id="pic3" class="imgs" src="<%= row.img3 %>">
                          <img id="pic4" class="imgs" src="<%= row.img4 %>">
                    </div>
                  </div>
                  <canvas id="can0" hidden></canvas>
                  <canvas id="can1" hidden></canvas>
                  <canvas id="can2" hidden></canvas>
                  <canvas id="can3" hidden></canvas>
                  <canvas id="can4" hidden></canvas>
                  <input type="hidden" value="<%= row.img0 %>" id="img0" name="img0">
                  <input type="hidden" value="<%= row.img1 %>" id="img1" name="img1">
                  <input type="hidden" value="<%= row.img2 %>" id="img2" name="img2">
                  <input type="hidden" value="<%= row.img3 %>" id="img3" name="img3">
                  <input type="hidden" value="<%= row.img4 %>" id="img4" name="img4">
                  <input type="hidden" value="<%= row.lng %>" name="lng" id="lng">
                  <input type="hidden" value="<%= row.lat %>" name="lat" id="lat">
                  <input type="file" id="f0" hidden>           
                  <input type="file" id="f1" hidden>
                  <input type="file" id="f2" hidden>
                  <input type="file" id="f3" hidden>
                  <input type="file" id="f4" hidden>
                </div>
                
              </div>
            </div>
          </div>
        </form>
    </div>
</div>
</body>
    <%- include('./partials/footer.ejs') %>
</html>


<script>

  var lat = document.getElementById('lat');
  var lng = document.getElementById('lng');

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      }
  function showPosition(position) {
            lat.value = position.coords.latitude;
            lng.value = position.coords.longitude;
        }
  }
  function getLocation2() {
    var map = document.getElementById("map");
    if (map.style.display == "none") {
        map.style.display = "block";

        mapboxgl.accessToken = 'pk.eyJ1Ijoic2hhZG93d2Fsa2VyNTUiLCJhIjoiY2ttZTR6OWdqMGplejJzcDVzbG9hZDZsaiJ9.XvlTCvjhctqR_1VOVHxU7A';
        var coordinates = document.getElementById('coordinates');
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [lng.value, lat.value],
            zoom: 5
        });

        var marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([lng.value, lat.value])
            .addTo(map);

        var lngLat = marker.getLngLat();

        lngLat.lat = lat.value;
        lngLat.lng = lng.value;

        function onDragEnd() {
            lngLat = marker.getLngLat();
            lat.value = lngLat.lat;
            lng.value = lngLat.lng;
        }
        marker.on('dragend', onDragEnd);
    }
    else
      map.style.display = "none";
    }

</script>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet"/>


<script>
  
</script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script>

var f0 = document.getElementById('f0');
var f1 = document.getElementById('f1');
var f2 = document.getElementById('f2');
var f3 = document.getElementById('f3');
var f4 = document.getElementById('f4');

var can0 = document.getElementById('can0');
var can1 = document.getElementById('can1');
var can2 = document.getElementById('can2');
var can3 = document.getElementById('can3');
var can4 = document.getElementById('can4');

var ctx0 = can0.getContext('2d');
var ctx1 = can1.getContext('2d');
var ctx2 = can2.getContext('2d');
var ctx3 = can3.getContext('2d');
var ctx4 = can4.getContext('2d');

var img0 = document.getElementById('img0');
var img1 = document.getElementById('img1');
var img2 = document.getElementById('img2');
var img3 = document.getElementById('img3');
var img4 = document.getElementById('img4');

$('#pic0').click(function(){ $('#f0').trigger('click'); });
$('#pic1').click(function(){ $('#f1').trigger('click'); });
$('#pic2').click(function(){ $('#f2').trigger('click'); });
$('#pic3').click(function(){ $('#f3').trigger('click'); });
$('#pic4').click(function(){ $('#f4').trigger('click'); });



f0.onchange = function(e) {
var im0 = new Image();
    im0.onload = draw0;
    im0.onerror = failed0;
    im0.src = URL.createObjectURL(this.files[0]);    
}
function draw0() {
    can0.width = this.width;
    can0.height = this.height;
    ctx0.drawImage(this, 0, 0);
    if (can0.toDataURL().length <= 3000000) {
      img0.value = can0.toDataURL();
      $('#update').trigger('click');
    }
    else
      failed00();
}
function failed0() {
    alert("Please chose a valid image file");
    f0.value = '';
}
function failed00() {
    alert("Image too large");
    f0.value = '';
}


f1.onchange = function(e) {
var im1 = new Image();
    im1.onload = draw1;
    im1.onerror = failed1;
    im1.src = URL.createObjectURL(this.files[0]);
}
function draw1() {
    can1.width = this.width;
    can1.height = this.height;
    ctx1.drawImage(this, 0, 0);
    if (can1.toDataURL().length <= 3000000) {
      img1.value = can1.toDataURL();
      $('#update').trigger('click');
    }
    else
      failed11();
}
function failed1() {
    alert("Please chose a valid image file");
    f1.value = '';
}
function failed11() {
    alert("Image too large");
    f1.value = '';
}



f2.onchange = function(e) {
var im2 = new Image();
    im2.onload = draw2;
    im2.onerror = failed2;
    im2.src = URL.createObjectURL(this.files[0]);
}
function draw2() {
    can2.width = this.width;
    can2.height = this.height;
    ctx2.drawImage(this, 0, 0);
    if (can2.toDataURL().length <= 3000000) {
      if (!img1.value) 
          img1.value = can2.toDataURL();
       else 
          img2.value = can2.toDataURL();
      $('#update').trigger('click');
    }
    else
      failed22();
}
function failed2() {
    alert("Please chose a valid image file");
    f2.value = '';
}
function failed22() {
    alert("Image too large");
    f2.value = '';
}


f3.onchange = function(e) {
var im3 = new Image();
    im3.onload = draw3;
    im3.onerror = failed3;
    im3.src = URL.createObjectURL(this.files[0]);
}
function draw3() {
    can3.width = this.width;
    can3.height = this.height;
    ctx3.drawImage(this, 0, 0);
    if (can3.toDataURL().length <= 3000000) {
      if (!img1.value) 
          img1.value = can3.toDataURL();
      else if (!img2.value) 
          img2.value = can3.toDataURL();
      else 
          img3.value = can3.toDataURL();
      $('#update').trigger('click');
    } else
      failed33();
}
function failed3() {
    alert("Please chose a valid image file");
    f3.value = '';
}
function failed33() {
    alert("Image too large");
    f3.value = '';
}



f4.onchange = function(e) {
var im4 = new Image();
    im4.onload = draw4;
    im4.onerror = failed4;
    im4.src = URL.createObjectURL(this.files[0]);
}
function draw4() {
    can4.width = this.width;
    can4.height = this.height;
    ctx4.drawImage(this, 0, 0);
    if (can4.toDataURL().length <= 3000000) {
      if (!img1.value)
          img1.value = can4.toDataURL();
      else if (!img2.value)
          img2.value = can4.toDataURL();
      else if (!img3.value)
          img3.value = can4.toDataURL();
      else 
          img4.value = can4.toDataURL();
    $('#update').trigger('click');
  }
  else
    failed44();
}
function failed4() {
    alert("Please chose a valid image file");
    f4.value = '';
}
function failed44() {
    alert("Image too large");
    f4.value = '';
}


</script>

<style>
  #map { position: absolute; top: 30; bottom: 0; width: 50%;height: 40%;display:none }
</style>
  