<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<div class=".btn">
        <div class="col-sm-3 align-items-center">
            <button class="filter" onclick="matecha()" >FILTERS</button>
        </div>
</div>
<form method="POST" id="filter1">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Distance</h6>
                <label id="range_txt"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                <input type="range" id="range" name="range" min="0" max="500" value="<%= distance_range %>" onchange="update_range(this.value);">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Age :</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                <input type="number" name="age_0" id="age_0" min="18" max="75" value="<%= age_0 %>">
                <input type="number" name="age_1" id="age_1" min="18" max="75" value="<%= age_1 %>">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Common Tags</h6>
                <label id="range_txt1"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                <input type="range" id="range_1" name="range_1" min="0" max="20" value="<%= common_count %>" onchange="update_range1(this.value);">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Fame Score:</h6>
                <label id="range_txt2"></label>
                </div>
                <div class="col-sm-9 text-secondary">
                <input type="range" id="range_2" name="range_2" min="0" max="10000" value="<%= fame %>" onchange="update_range2(this.value);">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Search By tags:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                <input type="text" id="tag_search" name="tag_search" value="<%= tag_search %>">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Sort</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                <select id="sort" name="sort">
                    <option value="<%= sort %>">Sort by: <%= sort %></option>
                    <option value="Distance">Distance</option>
                    <option value="Age">Age</option>
                    <option value="Common Tags">Common Tags</option>
                    <option value="Fame Rating">Fame Rating</option>
                </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <h6 class="mb-0">Order</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                <select id="order" name="order">
                    <option value="<%= order %>">Order: <%= order %></option>
                    <option value="Ascending">Ascending</option>
                    <option value="Descending">Descending</option>
                </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <input type="submit" name="update" id="update">
                </div>
            </div>
            </div>
        </div>
        </div>
</form>
<% if (locals.rw){ %>
    <% for (var i = 0; i < rw.length; i++) { %>
        <form method="POST">
                <div class="container2">
                    <div class="iconic">
                        <img class ="image1"  src='<%= rw[i].img0 %>'>
                        <h2 style="text-transform: capitalize;"><%= rw[i].firstname %> <%= rw[i].lastname %></h2>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <h4>Gender : <%= rw[i].gender %></h4>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <h4>Sexuality : <%= rw[i].preference %></h4>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <h5>Fame Rating : <%= rw[i].rating %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <h5>Age : <%= rw[i].age %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <% if (locals.rw[i].tags){ %>
                                    <h5>Tags : <%= rw[i].tags %></h5>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item2">
                            <div class="item-area">
                                <% if (locals.rw[i].count){ %>
                                    <h5>Count : <%= rw[i].count %></h5>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item2">
                            <div class="item-area">
                                <% if (locals.rw[i].common){ %>
                                    <h5 style="color: red;"><%= rw[i].common %></h5>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item">
                            <div class="item-area">
                                <h5>Bio : <%= rw[i].bio %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <div class="item2">
                            <div class="item-area">
                                <h5>Distance : <%= rw[i].distance.toFixed(2) %> km</h5>
                                <input type="hidden"  name="id" value="<%= rw[i].id %>">
                                <input type="submit" class="button3" name="like" id="like" value="like">
                                <input type="submit" class="button3" name="block" id="block" value="block">
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    <% } %>
<% } %>

</body>
    <%- include('./partials/footer.ejs') %>
</html>

<script>
    
    var range = document.getElementById('range');
    var range_txt = document.getElementById('range_txt');
    var range1 = document.getElementById('range_1');
    var range_txt1 = document.getElementById('range_txt1');
    var range2 = document.getElementById('range_2');
    var range_txt2 = document.getElementById('range_txt2');

    range_txt.innerHTML = range.value.concat(' km');

    function matecha() {
        var x = document.getElementById("filter1");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function update_range(val) {
      range_txt.innerHTML=val.concat(' km');
    }

    range_txt1.innerHTML = range1.value;

    function update_range1(val) {
      range_txt1.innerHTML = val;
    }

    range_txt2.innerHTML = range2.value;

    function update_range2(val) {
      range_txt2.innerHTML = val;
    }

    $('#sort').change(function() {
        $('#update').trigger('click');
    });
    $('#order').change(function() {
        $('#update').trigger('click');
    });
    if ($('#sort').find(':selected').text() == 'Sort by: Common Tags')
        $('#order').hide();
    // if ($('#filter').find(':selected').text() == 'Filter by: Distance')
    // {
    //     $('#val0').show();
    //     $('#val1').hide();
    // }
    // if ($('#filter').find(':selected').text() == 'Filter by: Age')
    // {
    //     $('#val0').show();
    //     $('#val1').show();
    // }
    // if ($('#filter').find(':selected').text() == 'Filter by: Common Tags')
    // {
    //     $('#val0').show();
    //     $('#val1').hide();
    // }
    // if ($('#filter').find(':selected').text() == 'Filter by: Fame Rating')
    // {
    //     $('#val0').show();
    //     $('#val1').show();
    // }
</script>